body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;

    padding: 1rem;
    border: solid #FB7676 1px;
    border-radius: 30px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.prices {
    text-align: end;
}